<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>MinnPost</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
<script type='text/javascript' src='//s7.addthis.com/js/250/addthis_widget.js#async=1'></script>
<link rel="shortcut icon" href="http://www.minnpost.com//sites/default/themes/siteskin/favicon.ico" type="image/x-icon" />
<meta name="keywords" content="Mark Dayton,Minnesota DFL,Minnesota GOP,Minnesota Legislature,Vikings Stadium,Voter ID Amendment" />
<meta name="description" content="  " />
<meta property="og:title" content="The 2012 Legislative session: What did they pass?"/>
<meta property="og:site_name" content="MinnPost"/>
<meta property="og:description" content="Explore bills by category, investigate which bills Gov. Dayton vetoed, and search by your legislators.
"/>
<meta property="og:image" content="http://www.minnpost.com/sites/default/files/images/thumbnails/fullpagearticles/BillExplorerGraphic3.png"/>
<link rel="apple-touch-icon" href="http://www.minnpost.com//sites/default/themes/siteskin/inc/images/apple-touch-icon.png" />
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link type="text/css" rel="stylesheet" media="all" href="http://www.minnpost.com/sites/default/files/css/css_117735d70d328fde73465d234e0d6145.css" />
<link type="text/css" rel="stylesheet" media="screen" href="http://www.minnpost.com/sites/default/files/css/css_d59702640f3a018434b089a23d5f9360.css" />
<link type="text/css" rel="stylesheet" media="print" href="http://www.minnpost.com/sites/default/files/css/css_9893031b33c83f7dac84142a4217929e.css" />
  <!--[if IE]>
      <link rel="stylesheet" href="http://www.minnpost.com/sites/default/themes/derma/inc/css/ie.css?b" type="text/css">
  <![endif]-->
    <script type="text/javascript" src="http://www.minnpost.com/sites/default/files/js/js_956f6bec814fd4eca43cced7fa024bdd.js"></script>
<script type="text/javascript" src="http://www.minnpost.com/sites/all/libraries/tinymce/jscripts/tiny_mce/tiny_mce.js?t"></script>
</head>
<body class="not-front logged-in page-node node-type-article one-sidebar sidebar-right admin-nw admin-vertical admin-df  section-data section-data-id-2012 section-data-id-2012-id-05 section-data-id-2012-id-05-how-we-built-legislative-bill-explorer one-sidebar sidebar-right">
<div class="outside-embeddable-container">

  <!-- START: Embeddable -->
  <div class="node-body fieldlayout node-field-body">
    <style type="text/css">
      #minnpost-mn-congress-keyvotes-application {
        max-width: 960px;
        margin: 0 auto;
        color: #555556;
        font-family: Helvetica,Arial,Geneva,sans-serif;
      }
      .clear {
        clear: both;
      }
      
      .js-dependent,
      .hide {
        display: none;
      }
      
      .footnote {
        font-size: .75em;
        font-style: italic;
        color: #414141;
        margin-top: 1em;
      }
      
      .rep-header {
        clear: both;
        margin-top: 3em;
      }
      .rep-header-wrapper {
        float: left;
        position: relative;
        left: 50%;
      }
      .rep-header-inner {
        float: left;
        position: relative;
        left: -50%;
      }
      #rep-image {
        width: 110px;
        height: 110px;
        float: left;
        margin-right: 1em;
      }
      .rep-title {
        text-align: center;
        float: left;
      }
      .senator .rep-title {
        margin-top: 1em;
      }
      
      .rep-divider {
        width: 25%;
        margin: 1.5em auto 0 auto;
        border-top: 2px solid #BDBDBD;
      }
      
      .rep-bills {
        margin-top: 2em;
      }
      .rep-bills table {
        width: 100%;
      }
      .rep-bills table thead {
        border-bottom: 2px solid #BABABA;
      }
      .rep-bills table thead th {
        text-align: center;
        vertical-align: bottom;
      }
      .rep-bills table thead th,
      .rep-bills table tbody tr td {
        padding: 1em;
        border-bottom: 2px solid #BABABA;
      }
      .rep-bills table tbody tr td {
        border-right: 2px solid #BABABA;
        font-size: .85em;
      }
      .rep-bills table tbody tr td.column-last {
        border-right: none;
        width: 25%;
      }
      .rep-bills .bill-title {
        margin-bottom: 1em;
        font-weight: bold;
      }
      .rep-bills .bill-date {
        color: #BABABA;
        margin-left: .5em;
      }
      .rep-bills .bill-overall-vote {
        width: 37%;
      }
      .rep-bills .bill-overall-yes {
        margin-bottom: 1em;
      }
      .rep-bills .bill-overall span {
        margin-right: 1em;
        display: inline-block;
      }
      .rep-bills .bill-overall-label {
        width: 5em;
        text-align: right;
      }
      .rep-bills .bill-overall-label span {
        font-weight: bold;
        margin: 0;
      }
      .rep-bills .bill-rep-vote-col {
        width: 14%;
      }
      .rep-bills .bill-overall .bill-yes,
      .rep-bills .bill-overall .bill-no {
        width: 150px;
        height: 15px;
        background-color: #EFEFEF;
      }
      .rep-bills .bill-rep-vote,
      .rep-bills .bill-rep-vote-loyalty {
        text-align: center;
      }
      .rep-bills .bill-rep-vote {
        font-size: 2.5em;
        margin-bottom: .5em;
      }
      .rep-bills .with-party {
        color: #BABABA;
      }
      .rep-bills .against-party {
        font-weight: bold;
      }
      .rep-bills .bill-rep-comment {
        height: 3em;
        overflow: hidden;
      }
      .rep-bills .bill-rep-comment blockquote {
        margin: 0;
      }
      .rep-bills .show-comment {
        display: block;
        width: 100%;
        text-align: right;
        padding-top: .5em;
      }
    </style>
    
    <div id="minnpost-mn-congress-keyvotes-application">
      <div id="rep-graph-canvas"></div>
      <div id="rep-container"></div>
      
      <p class="footnote">Data from <a href="http://projects.washingtonpost.com/congress/112/" target="_blank">Washington Post U.S. Congress Votes Database</a>.  Images provided by <a href="http://www.wikipedia.org/" target="_blank">Wikipedia</a>, <a href="http://www.senate.gov/" target="_blank">Senate.gov</a>, and <a href="http://house.gov/" target="_blank">House.gov</a>.  Comments and quotes are taken from MinnPost stories or official statements of their respective lawmakers' offices.  * Key bills are defined by the Washington Post U.S. Congress Votes Database.</p>
    </div>
    
    <!-- Templates to be used in client side processing. -->
    <script id="template-rep" type="text/template">
      <div class="rep-divider"></div>
      <div class="rep-container-inner <%= rep.type %>">
        <div class="rep-header clearfix">
          <div class="rep-header-wrapper">
            <div class="rep-header-inner">
              <div id="rep-image"></div>
              <div class="rep-title">
                <h3>
                  <% if (rep.type === 'senator') { %>Sen.<% } else { %>Rep.<% } %>
                  <%= rep.name %> 
                </h3>
                <% if (rep.type === 'representative') { %>
                  <h4><%= rep.district %></h4>
                <% } %>
                <p>Voted with <% if (rep.party == 'D') { %>DFL<% } else { %>Republicans<% } %>
                  <% if (rep.overallLoyaltyEffective !== undefined) { %>
                    <%= (rep.overallLoyaltyEffective * 100).toFixed(1) %>%
                  <% } else { %>
                    <%= (rep.loyalty * 100).toFixed(1) %>%
                  <% } %>
                </p>
              </div>
            </div>
          </div>
        </div>
        
        <br class="clear" />
      
        <div class="rep-bills">
          <table>
            <thead>
              <tr>
                <th>Key Bills*</th><th>Overall Voting Results</th>
                <th><%= rep.lastName %>'s Vote</th><th>Comments</th>
              </tr>
            </thead>
            
            <tbody>
              <% for (var key in rep.bills) { var b = rep.bills[key] %>
                <tr>
                  <td>
                    <div class="bill-title"><%= b['Bill'] %></div>
                    <div class="bill-id">
                      <%= b['billID'] %> <span class="bill-date"><%= b['date'] %></span>
                    </div>
                  </td>
                  <td class="bill-overall-vote">
                    <div class="bill-overall bill-overall-yes">
                      <span class="bill-overall-label">
                        <span>YES</span>&nbsp;(<%= b['D Ayes'] + b['R Ayes'] %>)
                      </span>
                      <span id="bill-yes-<%= key %>" class="bill-yes"></span>
                      <span><%= b['D Ayes'] %>-<%= b['R Ayes'] %></span>
                    </div>
                    <div class="bill-overall bill-overall-no">
                      <span class="bill-overall-label">
                        <span>NO</span>&nbsp;(<%= b['D Nays'] + b['R Nays'] %>)
                      </span>
                      <span id="bill-no-<%= key %>" class="bill-no"></span>
                      <span><%= b['D Nays'] %>-<%= b['R Nays'] %></span>
                    </div>
                  </td>
                  <td class="bill-rep-vote-col 
                    <% if (b[rep.id].indexOf('*') > 0) { %>against-party<% } else { %>with-party<% } %>
                  ">
                    <div class="bill-rep-vote">
                      <% if (b[rep.id] === 'Aye' || b[rep.id] === 'Aye*') { %>
                        Yes
                      <% } else if (b[rep.id] === 'Nay' || b[rep.id] === 'Nay*') { %>
                        No
                      <% } else { %>
                        No vote
                      <% } %>
                    </div>
                    <div class="bill-rep-vote-loyalty">
                      <% if (b[rep.id].indexOf('*') > 0) { %>
                        Against party
                      <% } else { %>
                        With party
                      <% } %>
                    </div>
                  </td>
                  <td class="column-last">
                    <div class="bill-rep-comment-wrapper">
                      <% if (_.isObject(rep.comments) &&
                        _.isObject(rep.comments[rep.id]) &&
                        _.isObject(rep.comments[rep.id][b.id]) &&
                        !_.isEmpty(rep.comments[rep.id][b.id]) &&
                        rep.comments[rep.id][b.id].comment != '') { %>
                        <div class="bill-rep-comment">
                          <% if (rep.comments[rep.id][b.id].quote === true) { %>
                            <blockquote>
                              "<%= rep.comments[rep.id][b.id].comment %>"
                            </blockquote>
                          <% } else { %>
                            <div>
                              <%= rep.comments[rep.id][b.id].comment %>
                            </div>
                          <% } %>
                          <% if (rep.comments[rep.id][b.id].link !== undefined && 
                            rep.comments[rep.id][b.id].link !== '') { %>
                            <a href="<%= rep.comments[rep.id][b.id].link %>">Related article</a>
                          <% } %>
                        </div>
                        <a href="#" class="show-comment">Show comment</a>
                      <% } %>
                    </div>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </script>
  
    <!-- jQuery if it is not there and jQueryCustom for Backbone --><!-- jQuery -->
    <script type="text/javascript">
      window.jQuery || document.write('<script type="text/javascript" src="https://s3.amazonaws.com/data.minnpost/js/jquery-1.7.2/jquery-1.7.2.min.js"><\/script>')
    </script>
    <script type="text/javascript" src="https://s3.amazonaws.com/data.minnpost/js/underscore-1.3.3/underscore-min.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/data.minnpost/js/raphael-2.1.0/raphael-min.js"></script>
    
    <script type="text/javascript">
      
      (function($, window, undefined) {
        $(document).ready(function() {
          // Application container
          var KeyvotesApp = (function() {
            function KeyvotesApp() {
              this.appName = 'mn-congress-keyvotes';
              this.dataDir = './data/';
              this.imageDir = './images/';
              this.partyColors = {
                'D': 'rgb(0, 113, 172)',
                'R': 'rgb(161, 0, 15)'
              };
              
              this.processHost();
            };
            
            KeyvotesApp.prototype.launch = function() {
              // Do some binding
              _.bindAll(this);
            
              this.processBills();
              this.processReps();
              this.drawGraph();
            };
            
            KeyvotesApp.prototype.processReps = function() {
              var thisApp = this;
            
              _.map(this.reps, function(rep, key) {
                var totalBills;
                var loyaltyVote = 0;
              
                // Assign some helpful values
                rep.lastName = rep.name.split(' ')[1];
                rep.id = key;
                
                // Attach filtered bills
                rep.bills = _.filter(this.bills, function(bill) {
                  return (bill[rep.id] !== undefined && bill[rep.id] !== '');
                });
                
                // Add comment data
                rep.comments = this.comments;
                
                // Determine loyalty;
                rep.loyalty = rep.overallLoyalty;
                
                return rep;
              }, this);
            };
            
            KeyvotesApp.prototype.processBills = function() {
              _.map(this.bills, function(val, key) {
                val['D Ayes'] = parseInt(val['D Ayes']);
                val['D Nays'] = parseInt(val['D Nays']);
                val['R Ayes'] = parseInt(val['R Ayes']);
                val['R Nays'] = parseInt(val['R Nays']);
                
                val.totalVotes = val['D Ayes'] + val['D Nays'] + val['R Ayes'] + val['R Nays'];
                val.perDY = val['D Ayes'] / val.totalVotes;
                val.perDN = val['D Nays'] / val.totalVotes;
                val.perRY = val['R Ayes'] / val.totalVotes;
                val.perRN = val['R Nays'] / val.totalVotes;
                
                return val;
              });
            };
            
            KeyvotesApp.prototype.drawGraph = function() {
              var width = $('#minnpost-mn-congress-keyvotes-application').width();
              var height = 300;
              var i, x, y, h, color, path, radius, scale, count = 0;
              var axisHeight;
              var axisWidth;
              var axisStartX;
              var inverse;
              var circleAttr;
              var minLoyalty;
              var maxLoyalty;
              var sortedReps;
              var groupedLoyalty = {};
              var axisLabel = {
                'l': 'PARTY\nLOYALTY',
                'r': 'BREAKING\nRANK'
              };
              var labelAttr = {
                'font-family': 'Helvetica,Arial,Geneva,sans-serif',
                'font-size': width * .015,
                'stroke': '#BABABA'
              };
              var axisAttr = {
                'stroke-width': 4,
                'stroke': '#BABABA'
              };
              var tooltipTextAttr = {
                'font-family': 'Helvetica,Arial,Geneva,sans-serif',
                'font-size': width * .015,
                'font-weight': 'lighter',
                'fill': '#FFFFFF',
                'stroke': '#FFFFFF'
              };
              var tooltipAttr = {
                'stroke-width': 0,
                'fill-opacity': 0.9,
                'fill': '#555556'
              };
              
              // Draw canvas realtive to container and create plade to put objects
              this.graphPaper = Raphael('rep-graph-canvas', width, height);
              this.graphPaper.objs = {};
              
              // Draw axis
              axisHeight = (height * .4);
              axisWidth = (width * .9) - (width * .1);
              axisStartX = (width * .1);
              path = 'M' + (width * .1) + ' ' + axisHeight + 
                'L' + (width * .9) + ' ' + axisHeight;
              this.graphPaper.objs.axis = this.graphPaper.path(path).attr(axisAttr);
              this.graphPaper.objs.lPoint = this.graphPaper.
                circle(axisStartX, axisHeight, 3).attr(axisAttr);
              this.graphPaper.objs.rPoint = this.graphPaper
                .circle(axisStartX + axisWidth, axisHeight, 3).attr(axisAttr);
                
              // Draw labels
              this.graphPaper.objs.lLabel = this.graphPaper.text(
                (width * .1), axisHeight + (height * .1), axisLabel['l'])
                .attr(labelAttr);
              this.graphPaper.objs.rLabel = this.graphPaper.text(
                width - (width * .1), axisHeight + (height * .1), axisLabel['r'])
                .attr(labelAttr);

              // Draw reps
              this.graphPaper.objs.reps = {};
              radius = width * .03;
              minLoyalty = _.min(this.reps, function(r) {
                return r.loyalty;
              });
              maxLoyalty = _.max(this.reps, function(r) {
                return r.loyalty;
              });
              
              sortedReps = _.sortBy(this.reps, 'loyalty');
              _.each(sortedReps, function(val, index, obj) {
                // Figure out if repeated loyalty so we can space
                // correctly
                if (groupedLoyalty[val.loyalty] === undefined) {
                  groupedLoyalty[val.loyalty] = 0;
                }
                groupedLoyalty[val.loyalty]++;
                if (groupedLoyalty[val.loyalty] % 3 === 0) {
                  val.high = true;
                }
              
                // Set variables
                var thisApp = this
                count ++;
                inverse = (count % 2) ? -1 : 1;
                h = 50 * inverse;
                y = axisHeight - h;
                color = this.partyColors[val.party];
                this.graphPaper.objs.reps[count] = {};
                
                // Where on the spectrum
                x = axisStartX + (axisWidth * .1) + (
                  (1 - ((val.loyalty - minLoyalty.loyalty) / (maxLoyalty.loyalty - minLoyalty.loyalty))) *
                  (axisWidth * .8));
                
                // Special case for reps that would be on top of each other
                if (val.high !== undefined && val.high === true) {
                  h = h + (radius * inverse) + h;
                  y = axisHeight - h;
                  x = x + 5;
                }
                
                // Draw path from axis to circle
                path = 'M' + x + ' ' + y + 
                  'L' + x + ' ' + axisHeight;
                this.graphPaper.objs.reps[count].path = this.graphPaper.path(path)
                  .attr('stroke-width', 4)
                  .attr('stroke', color);
                
                this.graphPaper.objs.reps[count].circle = this.graphPaper.circle(x, y, radius)
                  .attr({
                    'fill': 'url(' + this.imageDir + val.image + ')',
                    'stroke': color,
                    'stroke-width': 4,
                    'cursor': 'default'
                  })
                  .hover(
                    function(e) {
                      this.attr({
                        'stroke-width': 6,
                        'cursor': 'pointer'
                      });
                      this.toolip.toFront().show();
                    },
                    function(e) {
                      this.attr({
                        'stroke-width': 4,
                        'cursor': 'default'
                      });
                      this.toolip.hide();
                    }
                  )
                  .click(function(e) {
                    thisApp.openCand(val.id);
                  });
                // Glow actually returns the glow object so no chain
                this.graphPaper.objs.reps[count].circle.glow({
                  'width': 5,
                  'opacity': 0.3,
                  'offsetx': 2,
                  'offsety': 2
                });
                
                // Since high values are on top, send, back;
                if (val.high !== undefined && val.high === true) {
                  this.graphPaper.objs.reps[count].path.toBack();
                }
                
                // Create tooltips
                this.graphPaper.set
                this.graphPaper.objs.reps[count].circle.toolip = this.graphPaper.set();
                this.graphPaper.objs.reps[count].circle.toolip.push(
                  this.graphPaper.rect(x - (width * .15 / 2), y + h - 12.5,
                    width * .15, 25, 5).attr(tooltipAttr).hide(),
                  this.graphPaper.text(x, y + h, val.name).attr(tooltipTextAttr).hide()
                );
              }, this);
            };
            
            KeyvotesApp.prototype.openCand = function(rep) {
              var thisApp = this;
              var i;
              var repData = thisApp.reps[rep];
              
              if (thisApp.currentCand !== undefined && thisApp.currentCand == rep) {
                return;
              }
              thisApp.currentCand = rep;
              
              $('#rep-container').fadeOut(function(e) {
                $('#rep-container').html(_.template($('#template-rep').html(), {
                  'rep': repData
                })).fadeIn();
                
                // Make graphics, image
                thisApp.imgPaper = Raphael('rep-image', 110, 110);
                thisApp.imgPaper.objs = {};
                thisApp.imgPaper.objs.image = thisApp.imgPaper.circle(50, 50, 47)
                  .attr({
                    'fill': 'url(' + thisApp.imageDir + repData.imageLarge + ')',
                    'stroke': thisApp.partyColors[repData.party],
                    'stroke-width': 4
                  });
                thisApp.imgPaper.objs.image.glow({
                  'width': 5,
                  'opacity': 0.3,
                  'offsetx': 2,
                  'offsety': 2
                });
                  
                // Make each graph for each bill
                for (i in repData.bills) {
                  thisApp.votePapers = {};
                  thisApp.votePapers[i] = {};
                  
                  thisApp.votePapers[i].yes = Raphael('bill-yes-' + i, 150, 15);
                  thisApp.votePapers[i].yes.rect(0, 0, repData.bills[i].perDY * 150, 15)
                    .attr('fill', thisApp.partyColors['D']).attr('stroke-width', 0);
                  thisApp.votePapers[i].yes.rect(repData.bills[i].perDY * 150, 0, 
                    repData.bills[i].perRY * 150, 15)
                    .attr('fill', thisApp.partyColors['R']).attr('stroke-width', 0);
                    
                  thisApp.votePapers[i].no = Raphael('bill-no-' + i, 150, 15);
                  thisApp.votePapers[i].no.rect(0, 0, repData.bills[i].perDN * 150, 15)
                    .attr('fill', thisApp.partyColors['D']).attr('stroke-width', 0);
                  thisApp.votePapers[i].no.rect(repData.bills[i].perDN * 150, 0, 
                    repData.bills[i].perRN * 150, 15)
                    .attr('fill', thisApp.partyColors['R']).attr('stroke-width', 0);
                }
                
                // Make quotes openable
                $('.show-comment').click(function(e) {
                  e.preventDefault();
                  
                  $(this).parent().find('.bill-rep-comment').hide().css({ 
                    height: 'auto',
                    overflow: 'auto'
                  }).fadeIn().slideDown();
                  $(this).hide();
                })
              });
            };
            
            KeyvotesApp.prototype.processHost = function() {
              if (location.host.indexOf('localhost') === -1) {
                this.dataDir = 'https://s3.amazonaws.com/data.minnpost/' +
                  'projects/minnpost-' + this.appName + '/data/';
                this.imageDir = 'https://s3.amazonaws.com/data.minnpost/' +
                  'projects/minnpost-' + this.appName + '/images/';
              }
              
              return this;
            };
            
            return KeyvotesApp;
          })();
          
          // Make app instance
          keyvotesApp = new KeyvotesApp();
          
          // Get data
          window.comments_callback = function(comments) {
            keyvotesApp.comments = comments;
            keyvotesApp.launch();
          };
          window.bills_callback = function(bills) {
            keyvotesApp.bills = bills;
            $.ajax({
              type: 'GET',
              dataType: 'jsonp',
              url: keyvotesApp.dataDir + 'comments.jsonp?callback=comments_callback',
              jsonp: 'callback'
            });
          };
          window.reps_callback = function(reps) {
            keyvotesApp.reps = reps;
            $.ajax({
              type: 'GET',
              dataType: 'jsonp',
              url: keyvotesApp.dataDir + 'bills.jsonp?callback=bills_callback',
              jsonp: 'callback'
            });
          };
          $.ajax({
            type: 'GET',
            dataType: 'jsonp',
            url: keyvotesApp.dataDir + 'reps.jsonp?callback=reps_callback',
            jsonp: 'callback'
          });
        });
      })(jQuery, window);
      
    </script>
  </div>
  <!-- END: Embeddable -->

</div>
</body>
</html>